/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

h2 {
    font-size: 1.8em;
    color: #666;
    margin-top: 20px;
}

input[type="file"] {
    margin-top: 10px;
    padding: 10px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #45a049;
}

#output {
    max-width: 100%;        /* Ajusta el ancho máximo */
    max-height: 600px;      /* Ajusta el alto máximo que prefieras */
    overflow: auto;         /* Habilita el desplazamiento */
    border: 1px solid #ccc; /* Añade un borde opcional */
}

table {
    width: 100%;            /* Asegura que la tabla ocupe todo el ancho disponible */
    border-collapse: collapse;
}

thead {
    position: sticky;       /* Mantén el encabezado visible cuando desplazas */
    top: 0;
    background-color: #f0f0f0; /* Color de fondo del encabezado */
    z-index: 1;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

footer {
    margin-top: 20px;
    text-align: center;
}
